---
import Logo from '../components/Logo.astro';
---

<div class="container flex items-center justify-between py-4">
    <div class="flex items-center">
        <a class="flex items-center space-x-2" href="/">
            <Logo />
            <span class="text-xl font-bold">CrUX Dashboard</span>
        </a>
    </div>
</div>
